.container-detail{
    display: flex;
    flex-direction: column;
}

.header-detail{
    display: flex;
    justify-content: space-between;
    margin: 5px 30px;
}

.btn-back-detail{
    color: black;
}

.section-container{
    display: flex;
    justify-content: space-around;
    margin: 5px 5px 25px 5px;
    background-color: rgb(101, 151, 243);
    padding: 30px;
    border: solid 2px;
}

.img-detail{
    width: 400px;
    height: 500px;
    border: solid 1px;
}

.title-detail{
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    text-shadow: 1.5px  0px 0px white,
    0px  1.5px 0px white,
   -1.5px  0px 0px white,
    0px -1.5px 0px white;
}

.price-detail{
    background-color: rgb(194, 194, 194);
    border-radius: 10px;
    margin-top: 25px;
    padding: 10px;
}

.price-detail h3{
    font-size: x-large;
}

.description-detail{
    background-color: rgb(194, 194, 194);
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
}

.count-detail{
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.btn-buy-count{
    margin: 5px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1.5px  0px 0px black,
    0px  1.5px 0px black,
   -1.5px  0px 0px black,
    0px -1.5px 0px black;
}

.btn-buy-count:hover{
    color: black;
    transition: linear .5s;
    text-shadow: 1.5px  0px 0px white,
    0px  1.5px 0px white,
   -1.5px  0px 0px white,
    0px -1.5px 0px white;
}

.shipment-container{
    background-color: rgb(194, 194, 194);
    border-radius: 10px;
    margin-top: 25px;
    padding: 10px;
}

.shipment-title{
    display: flex;
    align-items: center;
    gap: 10px;
}

.shipment-addres{
    margin: 10px 5px;
}

.img-shop{
    width: 35px;
    height: 35px;
}

@media (max-width: 778px) {
    .section-container{
        flex-direction: column;
        align-items: center;
    }
}
