.container{
    display: flex;
    align-items: center;
    
}
.img-cart{
    margin: 5px;
    width: 35px;
    height: 32px;
}

.container span{
    font-size: 18px;
    font-weight: bold;
    color: black;
}