.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    height: 70px;
    background-color: rgb(0, 102, 255);
    border: solid;
    border-color: black;
    border-width: 2px;
    
}

.title-nav{
    font-size: 30px;
    text-shadow: 1.5px  0px 0px white,
                 0px  1.5px 0px white,
                 -1.5px  0px 0px white,
                 0px -1.5px 0px white;
}

.link-title:visited{
    color: black;
}

.btn-nav{
    margin: 10px;
    color: white;
    background: none;
    border-style: none;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    text-shadow: 1.5px  0px 0px black,
    0px  1.5px 0px black,
   -1.5px  0px 0px black,
    0px -1.5px 0px black;
}

.btn-nav:hover {
    color: black;
    transition: linear .5s;
    text-shadow: 1.5px  0px 0px white,
    0px  1.5px 0px white,
   -1.5px  0px 0px white,
    0px -1.5px 0px white;
}